{% extends "SywiseQuizBundle::layout.html.twig" %}
{% block body %}


{% for flashMessage in app.session.flashbag.get('message') %}
    <div class="flash-notice">
        {% if theQuestion.answer == userResponse %}
            <h3 style="font-weight: bold; color: green"> {{ flashMessage }} </h3>
        {% else %}
            <h3 style="font-weight: bold; color: red"> {{ flashMessage }} </h3>
        {% endif %}

    </div>
{% endfor %}

    <div class="row">
        <h2>{{ theQuestion.description }}</h2>
    </div>

    <div class="row">
        <div class="text-left col-xs-5 col-xs-offset-5">
            <ul>
                <li> <span  {% if theQuestion.answer == 1 %} class="label label-success" {% elseif userResponse == 1 %} class="label label-danger" {% endif %}> {{ theQuestion.option1 }} </span></li>
                <li> <span  {% if theQuestion.answer == 2 %} class="label label-success" {% elseif userResponse == 2 %} class="label label-danger" {% endif %}> {{ theQuestion.option2 }} </span></li>
                <li> <span  {% if theQuestion.answer == 3 %} class="label label-success" {% elseif userResponse == 3 %} class="label label-danger" {% endif %}> {{ theQuestion.option3 }} </span></li>
                <li> <span  {% if theQuestion.answer == 4 %} class="label label-success" {% elseif userResponse == 4 %} class="label label-danger" {% endif %}> {{ theQuestion.option4 }} </span></li>
            </ul>
        </div>
    </div>






<br>

{% if theQuestion.answer != userResponse %}
    <h3>
        {{ theQuestion.comment }}
    </h3>
{% endif %}

<br>

<a href="{{ path('sywise_play') }}"> Load a new Question </a>
<br>


{% endblock %}